{% extends "base.html" %}

{% block content %}
<form class="form-wrapper cf" action="" method=post>
	<div class="input-group add-on">
	    <input name="keyword-search" type="text" placeholder="Search for keyword..." required>
	    <button type="submit">Search</button>
    </div>
</form>
<div class="byline"><p>Movie Tagging System by <a href="mailto:mingyuan@umich.edu">Mingyuan Zhou</a>, <a href="mailto:chenkf@umich.edu">Kaifeng Chen</a> and <a href="mailto:jiataof@umich.edu">Jiatao Fan</a></p>
</div>

{% endblock %}
<!-- <a href="http://speckyboy.com/2012/02/15/how-to-build-a-stylish-css3-search-box/">SpeckyBoy</a> featured on <a href="http://thecodeblock.com/search-box-tutorials-using-css3-jquery/">THE CODE BLOCK</a> -->