{% extends "base.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='jquery.js')}}"></script>
<script src="{{ url_for('static', filename='search.js')}}"></script>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h1 style="color:#d83c3c">Search Result</h1>
		</div>
	</div>
	{% for i, j in movie_info.iteritems() %}
	<div class="container">
	<h2>{{ i }}</h2>
<!-- 	<h1>{{j}} </h1> -->
	<img src="{{j}}" style="width:228px;height:304px;"></img>
	</div>
	{% endfor %}
{% endblock %}	
