{% extends "base.html" %}

{% block styles %}
  <!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
	h2 {font-size: 3.5vmin;}
</style>
</head>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='jquery.js')}}"></script>
<script src="{{ url_for('static', filename='search.js')}}"></script>
{% endblock %}

{% block content %}

<div class="container" style="margin-bottom: 20px">
	<div class="page-header">
		<h1 class="text-center" style="color:#d83c3c">Search Result</h1>
	</div>
	<div class="row">
		{% for i, j in movie_info.iteritems() %}
		<div class="col-lg-4 col-md-6 col-xs-12" style="">		
			<h2 style="text-align: left">{{ i }}</h2>
		<!-- 	<h1>{{j}} </h1> -->
			<img class="img-responsive" src="{{j}}"" style="width:228px; height:304px;"></img>
		</div>
		{% endfor %}
	</div>
</div>


{% endblock %}	
